@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fff;
}

/* Custom styles for navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff; /* White color */
}

/* Custom styles for pagination dots */
.swiper-pagination-bullet {
  background-color: #ffffff; /* White color */
}

/* Custom styles for active pagination dot */
.swiper-pagination-bullet-active {
  background-color: #ffffff; /* White color */
}